/* 入场动画（刚要执行的一瞬间） */
/* .fade-appear 保证了第一次刷新页面也会有同样的效果。
需要与appear={true}一起使用 */
.fade-enter, .fade-appear {
    opacity: 0;
}

/* 入场动画执行的第二个时刻到入场动画执行完成之前的一个时刻 */
.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

 /* 入场动画执行完成之后执行 */
.fade-enter-done {
    opacity: 1;
    /* 也可以用js实现颜色变化 */
    /* color: red; */
}

/* 出场动画执行的第一个时刻 */
.fade-exit {
    opacity: 1;
}

/* 出场动画执行的过程中 */
.fade-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}

/* 出场动画结束 */
.fade-exit-done {
    opacity: 0;
}

